
body {
  width: 90%;
  height: 100%;
  margin: 20px;
    position: relative;
    font-family: Helvetica;
    color: #fff;
    background-color: #d86450; /* Use rgba for transparency */
  }

  .big-title {
    font-size: 5em; /* Adjust the font size as needed */
    font-weight: bold; /* Make the text bold if desired */
    text-align: left; /* Align the text to the left */
    
    top: 0;
    left: 0;

    @media (max-width: 768px) {
      font-size: 3em; /* Adjust font size for smaller screens */
  }
}

.subtitle {
    font-size: 2em; /* Adjust the font size as needed */
    text-align: left; /* Align the text to the left */
    position: relative;
    
    @media (max-width: 768px) {
      font-size: 0.9em; /* Adjust font size for smaller screens */
  }
}

.container-img {
    position: relative;
    display: inline-block;
}

.img-background {
    width: 100%;
    height: auto;
    display: block;
}

.button-sphere {
    position: absolute;
    background-color: #3498db; /* Button background color */
    color: #fff; /* Button text color */
    padding: 3px 6px;
    border: none;
    cursor: pointer;
    border-radius: 9px;

        /* Responsive adjustments using media queries */
        @media (max-width: 768px) {
          padding: 2px 4px; /* Adjust padding for smaller screens */
          border-radius: 6px; /* Adjust border-radius for smaller screens */
          font-size: 12px; /* Adjust font size for smaller screens */
      }
    /* Add any other desired button styles */
}

.button-sphere-vid {
  position: absolute;
  background-color: #9af000; /* Button background color */
  color: #fff; /* Button text color */
  padding: 3px 6px;
  border: none;
  cursor: pointer;
  border-radius: 9px;
  visibility: hidden;
  /* Add any other desired button styles */
}

.container-top {
    display: flex;
    justify-content: center;
  }
  
  .container-top-buttons {
    
    width: 95%;
    margin: 2px;
    display: flex;
    position: absolute;
    justify-content: space-between;
    flex-direction: row-reverse;
  }


  .btn-menu{
    width: 45px;
    height: 45px;
    cursor: pointer;
    background-image: url("..//Resources/icons/menuicon.png");
    background-size: cover;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
  }
  @media (max-width: 768px) {
    .btn-menu {
        top: 10px; /* Adjust the top position for mobile screens */
        right: 10px; /* Adjust the right position for mobile screens */
    }
}



 