

body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'Helvetica', sans-serif;
  color: #fff;
  margin: 0px;
}

.centered-container {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent; /* Use rgba for transparency */
}

.container-menu {
  position: fixed;
  visibility: visible !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d86450; /* Use rgba for transparency */
  opacity: 100%;
}

/* CSS for the "GO!" button */
.go-button {
  border: none;
  border-radius: 15px; /* Rounded corners */
  font-size: 16px; /* Adjust the font size as needed */
  cursor: pointer;
  margin-top: 20px; /* Adjust the margin as needed to separate it from the dropdown */
  background-size: cover;
  background-color: rgb(255, 255, 255);
}

.replay-button {
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-size: cover;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  background-image: url("..//Resources/icons/replay-icon.png");

}

/* CSS for the "close button" */
.close-button {
  width: 49px;
  height: 49px;
  cursor: pointer;
  background-image: url("..//Resources/icons/menuicon.png");
  background-size: cover;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  position: fixed;
  right: 18px;
  top: 15px; /* You can also set the top position if needed */
}


/* CSS to center-align the content within "container-menu" */
.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Additional styling for the title */
.centered-content h1 {
  font-size: 24px; /* Adjust the font size as needed */
}

/* Additional styling for the dropdown box */
.centered-content select {
  width: 200px; /* Adjust the width as needed */
  padding: 10px;
  font-size: 16px; /* Adjust the font size as needed */
}


.off{
  display: none !important;
}

.container-gltf {
  display: flex;
  justify-content: center;
}


.container-top {
  display: flex;
  justify-content: center;
}

.container-top-buttons {
    
  width: 95%;
  margin: 2px;
  margin-top: 10px;
  display: flex;
  position: absolute;
  justify-content: space-between;
  flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .btn-menu {
      top: 10px; /* Adjust the top position for mobile screens */
      right: 10px; /* Adjust the right position for mobile screens */
  }
}

.btn-menu, .sound, .btn-gyros, .btn-close{
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-image: url("..//Resources/icons/vDOWN.png");
  background-size: cover;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
}

.sound-off{
  background-image: url("..//Resources/icons/vUP.png");
}

.btn-close {
  background-image: url("..//Resources/icons/close.svg");
  display: none;
}

.btn-gyros{
  background-image: url("..//Resources/gyro.png");
}

.btn-gyros-off {
  background-image: url("..//Resources/gyro-cancela2.png");
}

.btn-menu {
  background-image: url("..//Resources/icons/menuicon.png");
}



.spinner {
  border: 4px solid rgba(0, 0, 0, .1);
  border-left-color: transparent;
  width: 36px;
  height: 36px;
  border-radius: 50%;

  margin: 0;
  
  animation: spin 1s linear infinite;
}

#container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.button-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.start-button {
  display: block;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 24px;
  color: #000;
  cursor: pointer;
  transition: all 0.3s ease;
}

.start-button:hover {
  transform: scale(1.05);
}

.flecha-cont
{
  display:inline;
  align-items: center;
}

.flecha-cont img{
  width: 100px;
  height: 100px;
}

.overlay-container-wala {
  position: fixed;
  width: 100vw; /* Use 100vw for 100% of the viewport width */
  height: 100vh; /* Use 100vh for 100% of the viewport height */
  z-index: 5;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;  
  background-color: rgba(216, 100, 80, 0.5);
  transition: visibility 1s, opacity 1s;
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.overlay-container-wala.hidden {
  opacity: 0;
  visibility: hidden;
}

.overlay-container-wala.visible {
  opacity: 1;
  visibility: visible;
}

.centered-text-wala
{
  text-align: center; /* Center the text within the container */
  color: white;
  font-size: 2em;
  margin: 0 20px; /* Adjust the margin as needed */

}

.overlay-container {
  position: fixed;
  width: 100vw; /* Use 100vw for 100% of the viewport width */
  height: 100vh; /* Use 100vh for 100% of the viewport height */
  z-index: 6;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;  
  background-color: #d86450; /* Use rgba for transparency */
  z-index: 998; /* Set a high z-index to ensure it's above other content */
  transition: visibility 1s, opacity 1s;
  visibility: visible;
  opacity: 1;
}

.overlay-container.hidden {
  opacity: 0;
  visibility: hidden;
}

.overlay-container.visible {
  opacity: 1;
  visibility: visible;
}


.overlay-container.visible2 {
  opacity: 0.5;
  visibility: visible;
}


.big-title {
  font-size: 4em;
  font-weight: bold;
  text-align: center; /* Center-align the text horizontally */
  padding: 20px;
  margin: 0;
  position: fixed; /* Fixed positioning */
  top: 50%; /* Place the top at 50% of the viewport height */
  left: 0;
  transform: translate(0, -50%); /* Move the element up by 50% of its own height */
  width: 100%; /* Ensure it spans the entire width */
}


.bottom-right-button {
  position: fixed;
  bottom: 10px; /* Adjust the distance from the bottom as needed */
  right: 10px; /* Adjust the distance from the right as needed */
  background-color: #fff;
  color: #d86450;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* Add any other desired button styles */
}

.container-img {
  position: fixed;
  background-color: rgba(255, 255, 255, 1); /* White with 50% alpha */
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
  max-width: 100%;
  max-height: 100%;
  transition: visibility 0s 1s, opacity 1s;
  z-index: 999;
  border-radius: 60px;

}

.container-img.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s;
}

@media (min-width: 768px) {
  .container-img {
    left: 50%;
    transform: translate(-100%, -50%);
  }

}

@media (max-height: 460px) {
  .container-img {
    left: 50%;
    transform: translate(-100%,-50% );
  }

}



.img-background {
  width: 100%;
  height: auto;
  display: block;

  
}


.button-sphere {
  position: absolute;
  background-color: #3498db; /* Button background color */
  color: #fff; /* Button text color */
  padding: 3px 6px;
  border: none;
  cursor: pointer;
  border-radius: 9px;
  visibility: hidden;
  /* Add any other desired button styles */
}

.button-sphere-vid {
  position: absolute;
  background-color: #3b6; /* Button background color */
  color: #fff; /* Button text color */
  padding: 3px 6px;
  border: none;
  cursor: pointer;
  border-radius: 9px;
  visibility: hidden;
  /* Add any other desired button styles */
}

.btn-close-map{
  position: absolute;
  width: 45px;
  height: 45px;
  cursor: pointer;
  background-image: url("..//Resources/icons/menuicon.png");
  background-size: cover;
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  visibility: hidden;
}




@keyframes closeAnimation  {
  0% {
      opacity:1;
  }
  25% {
      opacity:1;
  }
  75% {
      opacity:0;
  }
  100% {
      opacity:0;
  }

}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes openAnimation  {
  0% {
      opacity:0;
  }
  25% {
      opacity:0;
  }
  75% {
      opacity:1;
  }
  100% {
      opacity:1;
  }

}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


@media (min-width: 1024px) {

  .intro-recorrido {
    font-size: 2.2rem;
  }

  .first-page .logo {
    background-size: contain;
    width: 50%;
    height: 22%;
    min-width: 715px;
    min-height: 250px;
  }

}

@media (max-width: 768px) {

  .first-page {
    width: 100vw;
  }

  .first-page .logo {
    margin-bottom: 200px;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 160px;
  }

  .centered-text-wala {
    font-size: 1em;
    margin: 0px;
  }

  
  .flecha-cont img{
    width: 50px;
    height: 50px;
  }



  
}


.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  color: #ffffff;
  max-width: 100%;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 80px;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fffff9;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #efffff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

