

body {
  width: 90%;
  height: 100%;
    position: relative;
    font-family: Helvetica;
    color: #fff;
  }
  
  .centered-container {
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent; /* Use rgba for transparency */
  }
  
  .container-menu {
    position: fixed;
    visibility: visible !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d86450; /* Use rgba for transparency */
    opacity: 100%;
  }
  
  /* CSS for the "GO!" button */
  .go-button {
    width: 49px;
    height: 49px;
    border: none;
    border-radius: 15px; /* Rounded corners */
    font-size: 16px; /* Adjust the font size as needed */
    cursor: pointer;
    margin-top: 20px; /* Adjust the margin as needed to separate it from the dropdown */
    background-image: url("..//Resources/icons/vUP.png");
    background-size: cover;
    background-color: rgb(255, 255, 255);
  }
  
  .obj-button {
    width: 49px;
    height: 49px;
    border: none;
    border-radius: 15px; /* Rounded corners */
    font-size: 16px; /* Adjust the font size as needed */
    cursor: pointer;
    margin-top: 20px; /* Adjust the margin as needed to separate it from the dropdown */
    background-image: url("..//Resources/icons/vUP.png");
    background-size: cover;
    background-color: rgb(255, 255, 255);
  }
  
  .replay-button {
    width: 45px;
    height: 45px;
    cursor: pointer;
    background-size: cover;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    background-image: url("..//Resources/icons/replay-icon.png");
  
  }
  
  /* CSS for the "close button" */
  .close-button {
    width: 49px;
    height: 49px;
    cursor: pointer;
    background-image: url("..//Resources/icons/menuicon.png");
    background-size: cover;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    position: fixed;
    right: 18px;
    top: 15px; /* You can also set the top position if needed */
  }
  
  
  /* CSS to center-align the content within "container-menu" */
  .centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  /* Additional styling for the title */
  .centered-content h1 {
    font-size: 24px; /* Adjust the font size as needed */
  }
  
  /* Additional styling for the dropdown box */
  .centered-content select {
    width: 200px; /* Adjust the width as needed */
    padding: 10px;
    font-size: 16px; /* Adjust the font size as needed */
  }
  
  
  .off{
    display: none !important;
  }
  
  .container-gltf {
    display: flex;
    justify-content: center;
  }
  
  
  .container-top {
    display: flex;
    justify-content: center;
  }
  
  .container-top-buttons {
    width: 98%;
    margin: 15px;
    display: flex;
    position: absolute;
    justify-content: space-between;
  }
  
  .btn-menu, .sound, .btn-gyros, .btn-close{
    width: 45px;
    height: 45px;
    cursor: pointer;
    background-image: url("..//Resources/icons/vDOWN.png");
    background-size: cover;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
  }
  
  .sound-off{
    background-image: url("..//Resources/icons/vUP.png");
  }
  
  .btn-close {
    background-image: url("..//Resources/icons/close.svg");
    display: none;
  }
  
  .btn-gyros{
    background-image: url("..//Resources/gyro.png");
  }
  
  .btn-gyros-off {
    background-image: url("..//Resources/gyro-cancela2.png");
  }
  
  .btn-menu {
    background-image: url("..//Resources/icons/menuicon.png");
  }
  
  
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, .1);
    border-left-color: transparent;
    width: 36px;
    height: 36px;
    border-radius: 50%;
  
    margin: 0;
    
    animation: spin 1s linear infinite;
  }
  
  #container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
  }
  
  .button-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .start-button {
    display: block;
    width: 150px;
    height: 150px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .start-button:hover {
    transform: scale(1.05);
  }
  
  
  
  @keyframes closeAnimation  {
    0% {
        opacity:1;
    }
    25% {
        opacity:1;
    }
    75% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
  
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  
  @media (min-width: 1024px) {
  
    .intro-recorrido {
      font-size: 2.2rem;
    }
  
    .first-page .logo {
      background-size: contain;
      width: 50%;
      height: 22%;
      min-width: 715px;
      min-height: 250px;
    }
  
  }
  
  @media (max-width: 768px) {
  
    .first-page {
      width: 100vw;
    }
  
    .first-page .logo {
      margin-bottom: 200px;
      background-size: contain;
      background-position: center;
      width: 100%;
      height: 160px;
    }
  
    
  }
  
  